body {
  font-family: Arial, sans-serif;
  margin: 200px;
  padding: 0;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

/* Cabeçalho */
header {
  background: #004466;
  color: white;
  text-align: center;
  padding: 55px;
}
header h1 {
  margin: 0;
  font-size: 28p
}
header p {
  margin: 10px 0 20px;
  font-style: italic;
  font-size: 18px;
}

/* Menu */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
nav ul li a:hover {
  text-decoration: underline;
}

/* Seções */
section {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}
section h2 {
  background: #004466;
  color: white;
  padding: 15px;
  text-align: center;
}

/* Galeria */
.gallery {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}
.gallery figure {
  text-align: center;
}
.gallery img {
  border-radius: 5px;
  width: 250px;
  height: 190px;
}

/* Dica Rápida */
.dica {
    background: #add8e6;
    padding: 15px;
    margin: 30px;
    position: relative;
    border-radius: 5px;
}
.dica h1 {
    color: white;
    margin: 0;
}
.dica h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    margin-top: 5px;
}
.dica::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: #003366;
    border-radius: 5px 0 0 5px;
}

/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}
table, th, td {
  border: 1px solid #ccc;
}
th {
  background: #004466;
  color: white;
  padding: 8px;
}
td {
  padding: 8px;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 50;
  padding: 0;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

footer {
  background-color: #004466;
  color: white;
  text-align: center;
  padding: 20px;
}

footer h2 {
  margin: 0;
  padding: 10px 0;
}

footer hr {
  border: 1px solid white;
  margin: 0 0 15px 0;
}

footer a {
  color: blue; /* link azul igual ao print */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}